<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Page not found 404</title>
</head>
<body>
<img src="{{ asset('bundles/SecurinetsFrontOffice/images/404notfound.jpg') }}" style="width:100% ; height:100%">
</body>
</html>